.container {
    color: var(--white10);
    position: fixed;
    top: 0px;
    background-image: linear-gradient(to bottom, var(--gradient-stops));
  
    --gradient-from: var(--black);
    --gradient-stops: var(--gradient-from), var(--gradient-to, rgba(0, 0, 0, 0));
    width: 100%;
    z-index: 50;
 
  }
  
  .wrapper {
  
    padding-left: 1rem /* 16px */;
    padding-right: 1rem /* 16px */;
    display: flex;
    padding: 1.25rem /* 20px */;
  }
  
  .logoLink {
    display: flex;
    font-weight: 500;
    font-size: 1rem;
    align-items: center;
    color: var(--white10);
    margin-bottom: 1rem/* 16px */;
}
  
  .logoWrapper {
    color: var(--red);
    width: 8rem /* 128px */;
  }
  
  .navItems {
    justify-content: center;
    display: flex;
    flex-direction: row;
    font-size: 0.875rem /* 14px */;
    font-size: 1rem;
    padding-right: 4rem;
  
    line-height: 1.25rem /* 20px */;
    list-style: none;
  }
  
  .navItem {
    margin-top: 10px;
    font-weight: 600;
    font-size: 1rem;
    cursor: pointer;
    margin-right: 0.75rem /* 12px */;
  }
  
  
  
  .navContainer {
    display: flex;
    align-items: flex-start;
    margin-left:auto ;
  }
  

  
  

 
  
 
  @media (min-width: 768px) {
    .wrapper {
      padding-right: 4rem /* 64px */;
      flex-direction: row;
      align-items: center;
    }
  
    .logoLink {
      margin-bottom: 0px;
    }
  
    .navItems {
      margin-left: 2rem /* 48px */;
    }
  
    .navItem {
      margin-right: 1.25rem /* 20px */;
    }
  }