.container {
    color: var(--white10);
    position: fixed;
    top: 0px;
   
    width: 100%;
    z-index: 50;
 
  }
  
  .wrapper {
  
    
    display: flex;
  }
  
  .logoLink {
    display: flex;
    font-weight: 500;
    font-size: 1rem;
    align-items: center;
    margin-bottom: 1rem/* 16px */;
}


.imagee {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 120px;
  height: 120px;
  margin:-60px 0 0 -60px;
}

.imagee:hover{
  -webkit-animation:spin 1s linear infinite;
  -moz-animation:spin 1s linear infinite;
  animation:spin 1s linear infinite;

}

@-moz-keyframes spin { 
  100% { -moz-transform: rotate(360deg); } 
}
@-webkit-keyframes spin { 
  100% { -webkit-transform: rotate(360deg); } 
}
@keyframes spin { 
  100% { 
      -webkit-transform: rotate(360deg); 
      transform:rotate(360deg); 
  } 
}

  
  .logoWrapper {
    color: var(--red);
    width: 8rem /* 128px */;
    margin-left: 100px;
    margin-top: 20px;
  }
  
  .navItems {
    justify-content: center;
    display: flex;
    flex-direction: row;
    font-size: 0.875rem /* 14px */;
    font-size: 1rem;
    padding-right: 5rem;
    margin-left: 80px;

    line-height: 1.25rem /* 20px */;
    list-style: none;
  }
  
  .navItem {
    margin-top: 10px;
    font-weight: 900;
    font-size: 1rem;
    cursor: pointer;
   color:  #ff2c45;
  }
  
  
  
  .navContainer {
    display: flex;
    align-items: flex-start;
    margin-left:auto ;
  }
  

  
  

 
  
 
  @media (min-width: 768px) {
    .wrapper {
      padding-right: 4rem /* 64px */;
      flex-direction: row;
      align-items: center;
    }
  
    .logoLink {
      margin-bottom: 0px;
    }
  
    .navItems {
      margin-left: 2rem /* 48px */;
    }
  
    .navItem {
      margin-right: 5rem /* 20px */;
    }
  }